<h1>New Craft</h1>
<h4 class='center'>
  <%= link_to 'Admin Dashboard', admin_index_path, class:'btn btn-dark' %>
  <%= link_to 'List all crafts', crafts_path, class: 'btn btn-dark' %>
</h4>

<% if current_user&.admin? %>
  <%= render 'form', craft: @craft %>
<% else %>
  <p>You seem to be lost!</p>
<% end %>

<%= link_to 'Back', :back, class:'btn btn-custom indent', style: 'margin-left: 5rem' %>