<h1>New Craft</h1>
<h4 class="center">
  <%= link_to "List all crafts", crafts_path %>
</h4>

<% if current_user.admin? %>
  <%= render "form", craft: @craft %>
<% else %>
  <p>You seem to be lost!</p>
<% end %>

<%= link_to 'Back', :back, class:'btn btn-custom indent', style: "margin-left: 5rem" %>