
<h1><%= @craft.name %></h1>
</br>
<h4 class='center'><%= @craft.category %></h4>

<%= image_tag(@craftimage.image_path, class: 'center-img') %>

</br>

<%= link_to 'Back', :back, class:'btn btn-secondary indent' %>