<h1>Welcome to milknthingzz.xyz, <%= @user.name %></h1>
<p>
  You have successfully signed up to milknthingzz.xyz,
  your username is: <%= @user.login %>.<br>
</p>
<p>
  Thanks for signing up for our little website. It's just a small personal project 
  to learn the ropes of web development, but perhaps you like one of our creations?
  If so feel free to leave a comment or contact us through our social media links 
  <%= link_to 'Social Media', social_url %>.
</p>
<p>Thanks again and have a great day!</p>
