</br>
<%= form_with(model: [craft, comment]) do |f| %>
  <div class="form-control mx-1">
    <%= f.rich_text_area :body %>
    <%= f.submit "Reply", class: "btn btn-primary mt-1" %>
  </div>
<% end %>