<div class='grid-sorted mt-5'>
  <% @crafts.each do |craft| %>
    <% if craft.craft_images.present? %>
      <div class='sorted-image-container'>
        <%= link_to image_tag(craft.craft_images.first.image_url, class: 'sorted-img'), craft_path(craft) %>
      </div>
    <% else %>
    <% end %>
  <% end %>
</div>

<% if @crafts.empty? %>
  <div class="sorted-empty">
    <p class="indent sorted-empty-text">There aren't any crafts of this type yet! :(</p>
  </div>
  <div class="sorted-empty">
    <p class="indent sorted-empty-text">Check back later when some are added! :)</p>
  </div>
<% end %>

<%= render 'home/about' %>