<div class="grid-sorted mt-5">
  <% @crafts.each do |craft| %>
    <div class="sorted-image-container">
      <%= link_to image_tag(craft.image_url, class: "sorted-image"), craft_path(craft) %>
    </div>
  <% end %>
</div>