<h1 class='underline'>About Us</h1>

<h2>Achaea</h2>
<p class='mx-auto p-2 about-us-paragraph'>
  Hi everyone! My name is Achaea. I work as a registered nurse and I love working with different crafts as a side hobby. I love cooking, shelling and video games. 
  I enjoy turning things I've collected, shells on the beach or upcycling old jewelry, into my own little creations.  
</p>

<p class='mx-auto p-2 about-us-paragraph'>
  Different crafts I work with are beading, 3d printing, needle felting, embroidery, crotchet, jewelry making and resin creations. Feel Free to email me if
  you ever want anything custom made.
</p>

<br><br>
<h2>Kevin</h2>
<p class='mx-auto p-2 about-us-paragraph'>My name is Kevin and I'm a bit of a nerd into board games, video games and long-form commmentary videos. I've had access to a PC since roughly the age of 8 but I 
  never considered a career involved with computers until semi recently. I had the thought just becasuse I like food doesn't mean I would be a good chef (and frankly would be 
  a bit of a nightmare career for myself). I started learning web development through <%= link_to 'The Odin Project', "https://www.theodinproject.com/"%> mid-2022 in my off 
  time and something just clicked. Although programming was and is still hard, it just feels really nice to create something with just words and numbers.
</p>

<p class='mx-auto p-2 about-us-paragraph'>The purpose of this website was to expand my skillset in web development. This was my first project with Rails, aka Ruby on Rails, that 
  wasn't an assignment. It took me longer than I expected but I also learned a lot along the way.
</p>

<p class='mx-auto p-2 about-us-paragraph'>First I must provide credit for my websites awesome favicon (The cute little icon on your browsers tab) from <%= link_to 'Freepik',
 'https://www.flaticon.com/free-icon/milk-box_3500274?term=milk+carton&page=1&position=5&origin=search&related_id=3500274' %>. Also for the hamburger menu icon I use for mobile,
 <a target="_blank" href="https://icons8.com/icon/8113/menu">Hamburger Menu</a> icon by <a target="_blank" href="https://icons8.com">Icons8</a>
</p>
