<h1 class='underline'>About Us</h1>

<div class=' center mx-auto py-4 about-us-paragraph'>Hello there.</div>

<p class='mx-auto p-2 about-us-paragraph'>First I must provide credit for my websites awesome favicon (The cute little icon on your browsers tab) from <%= link_to 'Freepik',
 'https://www.flaticon.com/free-icon/milk-box_3500274?term=milk+carton&page=1&position=5&origin=search&related_id=3500274' %>.
</p>

<p class='mx-auto p-2 about-us-paragraph'>The purpose of this website was to expand my skillset in web development. This was my first project with Rails, (aka, Ruby on Rails) which taught me new various
concepts. Including, but certaintly not limited to, MVC (model, view, controller) paradigm, working with databases and linking them together, using partials (they are awesome!) and the backend web development.
Before this project I had only ever worked with frontend technologies.</p>

<p class='mx-auto p-2 about-us-paragraph'>I won't lie, at the start learning Rails was incredibly daunting and I had a lot of frustrating moments along the way. I also know that realistically I have barely dipped my toes
into the kiddie pool of web development. Regardless, I'm still incredibly proud of what I have learned over the last year of starting my self-taught web dev journey and how I applied 
it to this website.</p>

<p class='mx-auto p-2 about-us-paragraph'>Lastly, it was also pretty cool that I could use skill set to make something for my gf, which gave me some direction as to what my first web project should be.
I hope you like the some of the crafts she has made because I think they are just splendid.</p>