<h1 class='underline'>About Us</h1>

<div class=' center mx-auto py-4 about-us-paragraph'>Hello there.</div>

<p class='mx-auto p-2 about-us-paragraph'>First I must provide credit for my websites awesome favicon (The cute little icon on your browsers tab) from <%= link_to 'Freepik',
 'https://www.flaticon.com/free-icon/milk-box_3500274?term=milk+carton&page=1&position=5&origin=search&related_id=3500274' %>.
</p>

<p class='mx-auto p-2 about-us-paragraph'>The purpose of this website was to expand my skillset in web development. This was my first project with Rails, aka Ruby on Rails, that 
  wasn't an assignment. It took me longer than I expected but I also learned a lot along the way.
</p>

<p class='mx-auto p-2 about-us-paragraph'>This is the section that my wonder gf would write a little something about herself. Instead we will have this paragraph here until
  she sits down with me and writes a little something about herself.
</p>

<p class='mx-auto p-2 about-us-paragraph'>My name is Kevin and I'm a bit of a nerd into board games, video games and long-form commmentary videos. I've had access to a PC since roughly the age of 8 but I 
  never considered a career involved with computers until semi recently. I had the thought just becasuse I like food doesn't mean I would be a good chef (and frankly would be 
  a bit of a nightmare career for myself). I started learning web development through <%= link_to 'The Odin Project', "https://www.theodinproject.com/"%> mid-2022 in my off 
  time and something just clicked. Although programming was and is still hard, it just feels really nice to create something with just words and numbers.
  </p>