<h1>Earrings</h1>

<div class="center">
  <label for="sort_by">Sort by:</label>
    <%= select_tag 'earring_sort_by', options_for_select(@subtypes.map { |subtype| [subtype, subtype] }),
    prompt: 'Subtype',
    id: 'earring_sort_by',
    data: { 
      controller: "subtype-sort",
      action: "subtype-sort#update",
      subtype_sort_target: "select"
     } %>
</div>

<%= render 'home/sorted' %>