<div class='indent devise'>
    <h2>New User Creation Temporarily Halted</h2>
    </br>

    <div class='indent'>
        Sorry for the inconvenience. I had to disable new account creations until I can implement a solutions for high email bouce rates that AWS dislikes.
    </div>
    <div class='indent'>
        I'm currently just waiting for AWS to reinstate my account (as the website is currently down as I work on this page and redirect for when it is up).
        I will hopefully implement a solution quickly once this website is back up, but if on the off chance you are a human would like to make an account send me an email and I will quickly get off my ass and implement a solution or just enable account signups.
        Thank you!
    </div>
    <div class='indent'>
        Soadhlh@gmail.com
    </div>
</div>