:root {
  --main-bg-color: #A9AFD1;
  --dark-accent-color: #22181C;
  --light-accent-color: #CBEFB6;
  --shade-light-color: #FAF8F8;
  --shade-dark-color: #292747;
}

html {
  font-size: 62.5%;
}

body {
  background-color: var(--main-bg-color);
  overflow-x: hidden !important;
  height: 100vh;
  width: 100vw;
 }

 .notice {
  position: absolute;
 }

 .banner-container {
 }

 #banner {
  background-color: var(--dark-accent-color);
  color: var(--shade-light-color);
  font-size: 9rem;
  font-family: 'Silkscreen', cursive;
  display: flex;
  position: relative;
}

.profile-button {
  margin: 0 auto;
  display: inline;
  position: absolute;
  right: 5rem;
  margin-top: -3.1rem;
  color: var(--shade-dark-color);
}

.btn-profile {
  font-size: 1.4rem;
  color: var(--shade-dark-color);
  background-color: var(--main-bg-color);
  --bs-btn-hover-color: var(--shade-light-color);
  --bs-btn-hover-border-color: var(--shade-dark-color);
}

.btn-custom {
    --bs-btn-color: var(--shade-dark-color);
    --bs-btn-bg: var(--shade-light-color);
    --bs-btn-border-color: #6c757d;
    --bs-btn-hover-color: #fff;
    --bs-btn-hover-bg: var(--shade-dark-color);
    --bs-btn-hover-border-color: #565e64;
    --bs-btn-focus-shadow-rgb: 130,138,145;
    --bs-btn-active-color: #fff;
    --bs-btn-active-bg: #565e64;
    --bs-btn-active-border-color: #51585e;
    --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    --bs-btn-disabled-color: #fff;
    --bs-btn-disabled-bg: #6c757d;
    --bs-btn-disabled-border-color: #6c757d;
}

/* #banner > p, #banner > a {
  text-align: center;
  justify-content: center;
  vertical-align: middle;
  flex: 1 0 30%;
  text-decoration: inherit;
  color: var(--shade-light-color);
} */

.grid-container-nav-main {
  display: grid;
  grid-template-columns: 20rem auto;
}

/* Nav height of 100vh causing slight horizontal scrolling. nav 100% doesn't, but green sidebar doesn't extend very far.
This may be due to bootstrap and negative margins of navbar. Problem persisted before making sidebar and main-content grid items, thought it could fix issue.
Setting navbar-nav margin/pad to 0 does nothing, could be a different selector.
I can hide overflow-x but that will cause super slight shifting of what is 'center' for the flex items (easy fix, not perfect).
Perhaps figure out if this problem occurs due to the sizing of the body or html elements (easy-medium, might not fix).
Figure out how to extend sidebar color without altering height (unknown). */
#sidebar {
  background-color: var(--shade-light-color);
  color: var(--shade-dark-color);
  font-family: 'DotGothic16', sans-serif;
  width: 20rem;
  /* I should use a calc below so multiple pages can adjust size to main-content height */
  /* height: 120vh; */
  min-height: 95vh;
  font-size: 2.2rem;
}

#sidebar > a, #sidebar > div {
  display: grid;
  grid-template-rows: repeat(auto-fill, minmax(5rem, 1fr));
  margin-top: 1.5rem;
  transition: all 0.22s ease-in-out;
  width: 90%;
}

#sidebar > a:hover, #sidebar > div:hover {
  color: hotpink;
  font-size: 3rem;
}

#main-content {
  /* display: grid; */
  font-family: 'Silkscreen', cursive;
  color: var(--shade-light-color);
}

#main-content h1 {
  text-align: center;
  font-size: 5rem;
  text-decoration: underline;
}

.flex-item {
  width: 30rem;
  height: auto;
}

.alert {
  max-width: 20rem;
  max-height: 10rem;
  text-align: center;
}

.width-30 {
  max-width: 30rem;
}

.center {
  text-align: center;
}

.center-img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.indent {
  margin-left: 5rem;
}

.devise {
  margin-top: 3rem;
}

.underline {
  text-decoration: underline;
}

.profile-title {
  font-size: 4.7rem;
}

.large-text {
  font-size: 1.5rem;
}

.about-us-paragraph {
  display: block;
  font-size: 1.75rem;
  width: 120rem;
  /* font-family: 'DotGothic16', sans-serif; */
  font-family: 'Courier New', Courier, monospace;
  color: var(--dark-accent-color);
}

#admin-dashboard {
  color: var(--dark-accent-color);
  font-family: 'Courier New', Courier, monospace;
}

.social-wrapper2 {
  margin-top: 10rem;
}

.social-wrapper {
  display: grid;
  margin: 7rem;
  margin-right: 20rem;
  grid-template-columns: repeat(2, minmax(15rem, 1fr));
  grid-row: auto auto;
  gap: 20rem;
}

.social-item {
}

.social-logo {
  /* padding: 5rem; */
  /* width: 10rem; */
  height: auto;
  width: 15rem;
  margin-bottom: 1rem;
}

.comment-container {
  max-width: 100rem;
}

[class^="single-comment-"] {
  background: var(--shade-dark-color);
  border: 1px solid black;
  padding: 1em;
  margin: 1em;
}

.craft-edit-image-size {
  height: auto;
  width: 25rem;
}

.about-us-link-wrapper {
  text-align: center;
}

.about-us-link {
  text-decoration: none;
  color: var(--shade-dark-color);
  font-size: 1.6rem;
  text-align: center;
}

.about-us-link:hover {
  color: blue;
}

.edit-craft-form {
  margin-left: 5rem;
  margin-bottom: 5rem;
}

.max-size-image {
  max-width: 500px;
  max-height: 500px;
}

.craft-show-image {
  display: grid;
  grid-template-columns: 9fr 1fr;
}

.craft-show-image img {
}


.grid-sorted {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(30%, 1fr));
  gap: 3rem;
  justify-content: center;
  align-items: center;
  margin-bottom: 10rem;
  margin-left: 15rem;
  margin-right: 15rem;
}

.grid-sorted > * {
}

.sorted-image-container {
  background: var(--shade-dark-color);
  padding: 1.5rem;
  display: grid;
  border: 3px solid
  var(--dark-accent-color);
}

.sorted-image {
  width: 100%;
  height: auto;
  max-width: 100%;
  max-height: 35rem;
  object-fit: cover;
}

