:root {
  --main-bg-color: #A9AFD1;
  --dark-accent-color: #22181C;
  --light-accent-color: #CBEFB6;
  --shade-light-color: #FAF8F8;
  --shade-dark-color: #292747;
}

html {
  font-size: 62.5%;
}

body {
  background-color: var(--main-bg-color);
  /* overflow-x: hidden !important; */
  height: 100vh;
  width: 100vw;
 }

 #banner {
  background-color: var(--dark-accent-color);
  color: var(--shade-light-color);
  font-size: 9rem;
  font-family: 'Silkscreen', cursive;
  display: flex;
}

#banner > p {
  text-align: center;
  justify-content: center;
  vertical-align: middle;
  flex: 1 0 30%;
}

.grid-container-nav-main {
  display: grid;
  grid-template-columns: 20rem auto;
}

/* Nav height of 100vh causing slight horizontal scrolling. nav 100% doesn't, but green sidebar doesn't extend very far.
This may be due to bootstrap and negative margins of navbar. Problem persisted before making sidebar and main-content grid items, thought it could fix issue.
Setting navbar-nav margin/pad to 0 does nothing, could be a different selector.
I can hide overflow-x but that will cause super slight shifting of what is 'center' for the flex items (easy fix, not perfect).
Perhaps figure out if this problem occurs due to the sizing of the body or html elements (easy-medium, might not fix).
Figure out how to extend sidebar color without altering height (unknown). */
#sidebar {
  background-color: var(--light-accent-color);
  color: var(--shade-dark-color);
  font-family: 'DotGothic16', sans-serif;
  width: 20rem;
  /* I should use a calc below so multiple pages can adjust size to main-content height */
  height: 120vh;
  font-size: 2.3rem;
  padding-top: 1rem;
  padding-left: 2rem;
}

/* Need to change. I'm not sure how I like menu links hover when clearly far from the text.
 Making the box smaller causes 3-D print to overflow to next line.
 Maybe I can wrap each nav link item inside another div */
#sidebar > a {
  display: grid;
  grid-template-rows: repeat(auto-fill, minmax(5rem, 1fr));
  margin-top: 1.5rem;
  transition: all 0.22s ease-in-out;
  /* width: 70%; */
}

#sidebar > a:hover {
  color: hotpink;
  font-size: 3rem;
}

#main-content {
  /* display: grid; */
  font-family: 'Silkscreen', cursive;
  color: var(--light-accent-color);
}

#main-content h1 {
  text-align: center;
  /* margin-left: 45%; */
}

.flex-item {
  width: 30rem;
  height: auto;
}

.alert {
  max-width: 20rem;
  max-height: 10rem;
  text-align: center;
}

.width-30 {
  max-width: 30rem;
}

.center {
  text-align: center;
}

.center-img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.indent {
  margin-left: 1rem;
}