<div class="center profile-title"><%= @user.username %>'s Profile</div>

<% @user.comments.each do |comment| %>
  <%= render 'profile/comment', user: @user, comment: comment, craft:@craft %>
<% end %>