<% if @user != nil %>
  <div class='center profile-title'>
    <%= @user.email %>
  </div>
  <% if @user.admin? %>
    <div class='center fs-3 red'>Admin</div>
  <% end %>
<% else %>  
  <h1 style='text-decoration: none'>User Not Found</h1>
<% end %>